.container {
    max-width:600px;
    margin: 0 auto;
	  margin-top: 20px;
	  text-align: center;
    border: 5px solid gray;
    background-color: #00091a;
	  padding: 20px;
	  font-size: 25px;
}

.con {
	 border:5px groove gray; 
   width:70%;
   background-color: #00091a;
   margin-bottom: 10px;
	 margin-left: 15%;
	 margin-right: 15%;
	 margin-top: 20px;
	 color:white;
}

h1{
	text-align: center;
	padding: 5px 0px;
	color: white;
}

.addItem{
	
	position: relative;
	padding-bottom:0px;
	height:30px;
}
.addText{
	
	width: 70%;
	height: 30px;
	padding:5px;
	font-size: 20px;
}

.addItem button{
	
	height:48px;
	width: 70px;
	padding:10px;
	
}
.con1 {
	
 	width:70%;
  margin-bottom: 10px;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 15px;
	color:white;
}

.con1 button{
	 border:none; 
   color:white;
}

.form-control{
	width:80%;
	margin-left:10%;
	margin-right:10%;
}

span{
	float:right;
}

.fl{
	float:left;
	}
