<div class = "cont">
<h1> My Todo list </h1>
<div class ="addItem">

  <input [(ngModel)]="newItem" placeholder ="Add Item" class="addText">
  <button (click) ="pushItem()" > Add </button>
   <button type="submit" (click)="UpdateItem()" >Update</button>  

</div>

<div class ="con" *ngFor = "let data of items; let i= index">
	<span class = "fl"> <input type='checkbox'  /></span>
     {{data}}
	
	 <span><button (click)="editItem(i)" >Edit</button></span>
	 <span><button (click)="removeItem(i)" >Remove</button></span>
	  
 </div>
 </div>
